<div ngbAccordion style="width: 50%;margin: 0 auto;">
	<div ngbAccordionItem [collapsed]="false">
		<h2 ngbAccordionHeader>
			<button ngbAccordionButton>Simple</button>
		</h2>
		<div ngbAccordionCollapse>
			<div ngbAccordionBody>
				<ng-template>
					Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
					officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
					moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
					keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
					butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
					haven't heard of them accusamus labore sustainable VHS.
				</ng-template>
			</div>
		</div>
	</div>
	<div ngbAccordionItem>
		<h2 ngbAccordionHeader>
			<button ngbAccordionButton>
				<span>&#9733; <b>Fancy</b> title &#9733;</span>
			</button>
		</h2>
		<div ngbAccordionCollapse>
			<div ngbAccordionBody>
				<ng-template>
					Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
					officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
					moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
					keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
					butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
					haven't heard of them accusamus labore sustainable VHS.
				</ng-template>
			</div>
		</div>
	</div>
	<div ngbAccordionItem [disabled]="true">
		<h2 ngbAccordionHeader>
			<button ngbAccordionButton>Disabled</button>
		</h2>
		<div ngbAccordionCollapse>
			<div ngbAccordionBody>
				<ng-template>
					Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
					officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
					moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
					keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
					butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
					haven't heard of them accusamus labore sustainable VHS.
				</ng-template>
			</div>
		</div>
	</div>
</div>

<br>
<hr>
<br>

<div class="alerts" style="margin: 0 auto;width: 50%;">
  @for (alert of alerts; track alert) {
    <ngb-alert [type]="alert.type" (closed)="close(alert)">{{ alert.message }}</ngb-alert>
  }
  <button type="button" class="btn btn-primary" (click)="reset()">Reset</button>
</div>

<br>
<hr>
<br>

<div class="carusel" style="margin: 0 auto;width: 50%;">
  <ngb-carousel
	#carousel
	[interval]="1000"
	[pauseOnHover]="pauseOnHover"
	[pauseOnFocus]="pauseOnFocus"
	(slide)="onSlide($event)"
>
	@for (img of images; track img; let i = $index) {
		<ng-template ngbSlide>
			<div class="carousel-caption">
				<h3>My slide {{ i + 1 }} title</h3>
			</div>
			<a href="https://www.google.fr/?q=Number+{{ i + 1 }}" target="_blank" rel="nofollow noopener noreferrer">
				<div class="picsum-img-wrapper">
					<img [src]="img" alt="My image {{ i + 1 }} description" />
				</div>
			</a>
		</ng-template>
	}
</ngb-carousel>

<hr />

<div class="form-check">
	<input type="checkbox" class="form-check-input" id="pauseOnHover" [(ngModel)]="pauseOnHover" />
	<label class="form-check-label" for="pauseOnHover">Pause on hover</label>
</div>
<div class="form-check">
	<input type="checkbox" class="form-check-input" id="pauseOnFocus" [(ngModel)]="pauseOnFocus" />
	<label class="form-check-label" for="pauseOnFocus">Pause on focus</label>
</div>
<div class="form-check">
	<input type="checkbox" class="form-check-input" id="unpauseOnArrow" [(ngModel)]="unpauseOnArrow" />
	<label class="form-check-label" for="unpauseOnArrow">Unpause when clicking on arrows</label>
</div>
<div class="form-check">
	<input type="checkbox" class="form-check-input" id="pauseOnIndicator" [(ngModel)]="pauseOnIndicator" />
	<label class="form-check-label" for="pauseOnIndicator">Pause when clicking on navigation indicator</label>
</div>
<button type="button" (click)="togglePaused()" class="btn btn-outline-dark btn-sm">
	{{ paused ? 'Cycle' : 'Pause' }}
</button>
</div>

<br>
<hr>
<br>

<div class="collapses" style="margin: 0 auto;width: 50%;">
  <p>
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="collapse.toggle()"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseExample"
    >
      Toggle with Function
    </button>
    <button
      type="button"
      class="btn btn-outline-primary ms-2"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseExample"
    >
      Toggle with Two Way Binding
    </button>
  </p>
  <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <div class="card">
      <div class="card-body">You can collapse this card by clicking one Toggle button</div>
    </div>
  </div>
</div>

<br>
<hr>
<br>

<div class="datepicer" style="margin: 0 auto;width: 50%;text-align: center;">
  <p>Simple datepicker</p>

<ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next" />

<hr />

<button class="btn btn-sm btn-outline-primary me-2" (click)="model = today">Select Today</button>
<button class="btn btn-sm btn-outline-primary me-2" (click)="dp.navigateTo()">To current month</button>
<button class="btn btn-sm btn-outline-primary me-2" (click)="dp.navigateTo({ year: 2013, month: 2 })"
	>To Feb 2013</button
>

<hr />

<pre>Month: {{ date.month }}.{{ date.year }}</pre>
<pre>Model: {{ model | json }}</pre>
</div>

<br>
<hr>
<br>

<div class="dropdown" style="margin: 0 auto;width: 50%;text-align: center;">
  <p>You can easily control dropdowns programmatically using the exported dropdown instance.</p>

<div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
	<button
		type="button"
		class="btn btn-outline-primary me-2"
		id="dropdownManual"
		ngbDropdownAnchor
		(focus)="myDrop.open()"
	>
		Toggle dropdown
	</button>
	<div ngbDropdownMenu aria-labelledby="dropdownManual">
		<button ngbDropdownItem>Action - 1</button>
		<button ngbDropdownItem>Another Action</button>
		<button ngbDropdownItem>Something else is here</button>
	</div>
</div>

<button type="button" class="btn btn-outline-success me-2" (click)="$event.stopPropagation(); myDrop.open()">
	Open from outside
</button>
<button type="button" class="btn btn-outline-danger me-2" (click)="$event.stopPropagation(); myDrop.close()">
	Close from outside
</button>
</div>

<br>
<hr>
<br>
<div class="modals" style="margin: 0 auto;width: 50%;">
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Modal title</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <p>One fine body&hellip;</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>
  
  <ng-template #longContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Modal title</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <p>
        Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
        Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
      </p>
      <p>
        Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet
        rutrum faucibus dolor auctor.
      </p>
      <p>
        Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
        Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
      </p>
      <p>
        Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
        Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
      </p>
      <p>
        Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet
        rutrum faucibus dolor auctor.
      </p>
      <p>
        Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
        Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
      </p>
      <p>
        Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
        Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
      </p>
      <p>
        Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet
        rutrum faucibus dolor auctor.
      </p>
      <p>
        Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
        Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
      </p>
      <p>
        Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
        Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
      </p>
      <p>
        Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet
        rutrum faucibus dolor auctor.
      </p>
      <p>
        Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
        Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
      </p>
      <p>
        Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
        Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
      </p>
      <p>
        Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet
        rutrum faucibus dolor auctor.
      </p>
      <p>
        Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
        Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
      </p>
      <p>
        Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
        Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
      </p>
      <p>
        Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet
        rutrum faucibus dolor auctor.
      </p>
      <p>
        Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
        Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>
  
  <button class="btn btn-outline-primary mb-2 me-2" (click)="openWindowCustomClass(content)">
    Modal with window custom class
  </button>
  <button class="btn btn-outline-primary mb-2 me-2" (click)="openBackDropCustomClass(content)">
    Modal with backdrop custom class
  </button>
  <button class="btn btn-outline-primary mb-2 me-2" (click)="openSm(content)">Small modal</button>
  <button class="btn btn-outline-primary mb-2 me-2" (click)="openLg(content)">Large modal</button>
  <button class="btn btn-outline-primary mb-2 me-2" (click)="openXl(content)">Extra large modal</button>
  <button class="btn btn-outline-primary mb-2 me-2" (click)="openFullscreen(content)">Fullscreen modal</button>
  <button class="btn btn-outline-primary mb-2 me-2" (click)="openVerticallyCentered(content)">
    Modal vertically centered
  </button>
  <button class="btn btn-outline-primary mb-2 me-2" (click)="openScrollableContent(longContent)">
    Modal scrollable content
  </button>
  <button class="btn btn-outline-primary mb-2 me-2" (click)="openModalDialogCustomClass(content)">
    Modal with dialog custom class
  </button>
</div>
<br>
<hr>
<br>

<div class="nav" style="margin: 0 auto;width: 50%;">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
      <button ngbNavLink>One</button>
      <ng-template ngbNavContent>
        <p>
          Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
          master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
          keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
          salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
        </p>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <button ngbNavLink>Two</button>
      <ng-template ngbNavContent>
        <p>
          Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko
          farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts
          ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar
          helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson
          8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester
          stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.
        </p>
      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <button ngbNavLink>Three</button>
      <ng-template ngbNavContent>
        <p>
          Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi.
          Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio.
          Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna,
          egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec
          tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et
          magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget
          neque. Phasellus nec tortor vel tellus pulvinar feugiat.
        </p>
      </ng-template>
    </li>
  </ul>
  
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
  
  <pre>Active: {{ active }}</pre>
</div>

<br>
<hr>
<br>

<div class="offcanvasas" style="margin: 0 auto;width: 50%;">
  <ng-template #content let-offcanvas>
    <div class="offcanvas-header">
      <h4 class="offcanvas-title">Offcanvas title</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
    </div>
    <div class="offcanvas-body">
      <p>One fine body&hellip;</p>
      <div class="text-end">
        <button type="button" class="btn btn-outline-dark" (click)="offcanvas.close('Close click')">Close</button>
      </div>
    </div>
  </ng-template>
  
  <button class="btn btn-lg btn-outline-primary mb-2 me-2" (click)="openEnd(content)">Right position</button>
  <button class="btn btn-lg btn-outline-primary mb-2 me-2" (click)="openTop(content)">Top position</button>
  <button class="btn btn-lg btn-outline-primary mb-2 me-2" (click)="openBottom(content)">Bottom position</button>
  <button class="btn btn-lg btn-outline-primary mb-2 me-2" (click)="openNoBackdrop(content)">No backdrop</button>
  <button class="btn btn-lg btn-outline-primary mb-2 me-2" (click)="openStaticBackdrop(content)">Static backdrop</button>
  <button class="btn btn-lg btn-outline-primary mb-2 me-2" (click)="openScroll(content)">
    Scrolling of main content enabled
  </button>
  <button class="btn btn-lg btn-outline-primary mb-2 me-2" (click)="openNoKeyboard(content)">
    Escape does not dismiss
  </button>
  <button class="btn btn-lg btn-outline-primary mb-2 me-2" (click)="openNoAnimation(content)">No animation</button>
  <button class="btn btn-lg btn-outline-primary mb-2 me-2" (click)="openCustomBackdropClass(content)">
    Custom backdrop class
  </button>
  <button class="btn btn-lg btn-outline-primary mb-2 me-2" (click)="openCustomPanelClass(content)">
    Custom panel class
  </button>
</div>

<br>
<hr>
<br>

<div class="pagination" style="display: block;width: 50%;margin: 0 auto;text-align: center;">
  <p>A pagination with customized links:</p>
<ngb-pagination [collectionSize]="70" [(page)]="page" aria-label="Custom pagination">
	<ng-template ngbPaginationPrevious>Prev</ng-template>
	<ng-template ngbPaginationNext>Next</ng-template>
	<ng-template ngbPaginationNumber let-p>{{ getPageSymbol(p) }}</ng-template>
</ngb-pagination>
<hr />

<p>A pagination with customized pages:</p>
<ngb-pagination [collectionSize]="70" [(page)]="page" [boundaryLinks]="true">
	<ng-template ngbPaginationPages let-page let-pages="pages">
		@if (pages.length > 0) {
			<li class="ngb-custom-pages-item">
				<div class="mb-3 d-flex flex-nowrap px-2">
					<label id="paginationInputLabel" for="paginationInput" class="col-form-label me-2 ms-1">Page</label>
					<input
						#i
						type="text"
						inputmode="numeric"
						pattern="[0-9]*"
						class="form-control custom-pages-input"
						id="paginationInput"
						[value]="page"
						(keyup.enter)="selectPage(i.value)"
						(blur)="selectPage(i.value)"
						(input)="formatInput($any($event).target)"
						aria-labelledby="paginationInputLabel paginationDescription"
						style="width: 2.5rem"
					/>
					<span id="paginationDescription" class="col-form-label text-nowrap px-2"> of {{ pages.length }}</span>
				</div>
			</li>
		}
	</ng-template>
</ngb-pagination>
<hr />

<pre>Current page: {{ page }}</pre>
</div>

<br>
<hr>
<br>

<div class="propover" style="width: 50%;margin: 0 auto;text-align: center;">
  <button
	type="button"
	class="btn btn-outline-secondary me-2"
	placement="top"
	ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
	popoverTitle="Popover on top"
>
	Popover on top
</button>

<button
	type="button"
	class="btn btn-outline-secondary me-2"
	placement="end"
	ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
	popoverTitle="Popover on right"
>
	Popover on right
</button>

<button
	type="button"
	class="btn btn-outline-secondary me-2"
	placement="bottom"
	ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
	popoverTitle="Popover on bottom"
>
	Popover on bottom
</button>

<button
	type="button"
	class="btn btn-outline-secondary me-2"
	placement="start"
	ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
	popoverTitle="Popover on left"
>
	Popover on left
</button>
</div>

<br>
<hr>
<br>

<div class="progressbar" style="width: 50%;margin: 0 auto;">
  <ngb-progressbar class="mb-3" type="success" [value]="25" />
<ngb-progressbar class="mb-3" type="info" [value]="50" />
<ngb-progressbar class="mb-3" type="warning" [value]="75" />
<ngb-progressbar class="mb-3" type="danger" [value]="100" />
<ngb-progressbar class="mb-3" type="primary" [value]="75" />
<ngb-progressbar class="mb-3" type="secondary" [value]="50" />
<ngb-progressbar class="mb-3" type="dark" [value]="25" />
</div>

<br>
<hr>
<br>

<div class="rating" style="width: 50%;margin: 0 auto;text-align: center;">
  <ngb-rating [(rate)]="selected" (hover)="hovered = $event" (leave)="hovered = 0" [readonly]="readonly" />
<hr />

<pre>
Selected: <b>{{ selected }}</b>
Hovered: <b>{{ hovered }}</b>
</pre>

<button class="btn btn-sm btn-outline-{{ readonly ? 'danger' : 'success' }}" (click)="readonly = !readonly">
	{{ readonly ? 'readonly' : 'editable' }}
</button>
</div>

<br>
<hr>
<br>

<div class="scrollspy" style="width: 50%;margin: 0 auto;">
  <p>Shows the example of <code>NgbScrollSpyItem</code> usage to highlight items and handle scrolling</p>

<div class="row">
	<div class="col-4">
		<div id="list-example" class="list-group">
			<button type="button" class="list-group-item list-group-item-action" [ngbScrollSpyItem]="[spy, 'items-1']">
				1 - button
			</button>
			<button type="button" class="list-group-item list-group-item-action" [ngbScrollSpyItem]="spy" fragment="items-2">
				2 - button
			</button>
			<a type="button" class="list-group-item list-group-item-action" [ngbScrollSpyItem]="spy" fragment="items-3">
				3 - link no href
			</a>
			<a
				class="list-group-item list-group-item-action"
				href
				[class.active]="spy.active === 'items-4'"
				(click)="spy.scrollTo('items-4'); $event.preventDefault()"
			>
				4 - link no directive
			</a>
			<a routerLink="." class="list-group-item list-group-item-action" [ngbScrollSpyItem]="spy" fragment="items">
				5 - routerLink example
			</a>
		</div>
	</div>
	<div class="col-8">
		<div ngbScrollSpy #spy="ngbScrollSpy" rootMargin="16px" class="bg-light p-3 rounded-2 mb-3" style="height: 200px">
			<h4 ngbScrollSpyFragment="items-1">First heading</h4>
			<p>
				Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
				master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
				keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
				salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
			</p>
			<h4 ngbScrollSpyFragment="items-2">Second heading</h4>
			<p>
				Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
				master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
				keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
				salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
			</p>
			<h4 ngbScrollSpyFragment="items-3">Third heading</h4>
			<p>
				Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
				master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
				keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
				salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
			</p>
			<h4 ngbScrollSpyFragment="items-4">Fourth heading</h4>
			<p>
				Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
				master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
				keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
				salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
			</p>
		</div>
	</div>
</div>
</div>

<br>
<hr>
<br>

<div class="table" style="width: 50%;margin: 0 auto;">
  <p>Table is just a mapping of objects to table rows with <code>&#64;for</code></p>

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Country</th>
			<th scope="col">Area</th>
			<th scope="col">Population</th>
		</tr>
	</thead>
	<tbody>
		@for (country of countries; track country.name; let i = $index) {
			<tr>
				<th scope="row">{{ i + 1 }}</th>
				<td>
					<img
						[src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag"
						[alt]="'The flag of ' + country.name"
						class="me-2"
						style="width: 20px"
					/>
					{{ country.name }}
				</td>
				<td>{{ country.area | number }}</td>
				<td>{{ country.population | number }}</td>
			</tr>
		}
	</tbody>
</table>
</div>

<br>
<hr>
<br>

<div class="timepicker" style="width: 50%;margin: 0 auto;">
  <ngb-timepicker [(ngModel)]="time" [meridian]="meridian" />

<button class="btn btn-sm btn-outline-{{ meridian ? 'success' : 'danger' }}" (click)="meridian = !meridian">
	Meridian - {{ meridian ? 'ON' : 'OFF' }}
</button>

<hr />
<pre>Selected time: {{ time | json }}</pre>
</div>

<br>
<hr>
<br>

<div class="toast" style="width: 50%;margin: 0 auto;display: flex;justify-content: center;">
  @if (show) {
    <ngb-toast [autohide]="false" (hidden)="show = false">
      <ng-template ngbToastHeader>
        <div class="me-auto">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
            <path
              d="M16.896 10l-4.896-8-4.896 8-7.104-4 3 11v5h18v-5l3-11-7.104 4zm-11.896 10v-2h14v2h-14zm14.2-4h-14.4l-1.612-5.909 4.615 2.598 4.197-6.857 4.197 6.857 4.615-2.598-1.612 5.909z"
            />
          </svg>
          <strong class="mx-1">Fancy</strong>header here
        </div>
      </ng-template>
      Hello, I am toast. Have you noticed my header has been generated from a Template?
    </ngb-toast>
  }
</div>

<br>
<hr>
<br>

<div class="tooltips" style="margin: 0 auto;width: 50%;display: flex;justify-content: center;">
  <button type="button" class="btn btn-outline-secondary me-2" placement="top" ngbTooltip="Tooltip on top">
    Tooltip on top
  </button>
  <button type="button" class="btn btn-outline-secondary me-2" placement="end" ngbTooltip="Tooltip on right">
    Tooltip on right
  </button>
  <button type="button" class="btn btn-outline-secondary me-2" placement="bottom" ngbTooltip="Tooltip on bottom">
    Tooltip on bottom
  </button>
  <button type="button" class="btn btn-outline-secondary me-2" placement="start" ngbTooltip="Tooltip on left">
    Tooltip on left
  </button>
</div>

<br>
<hr>
<br>

<div class="typeahead" style="margin: 0 auto;width: 50%;">
  It is possible to get the focus events with the current input value to emit results on focus with a great flexibility.
In this simple example, a search is done no matter the content of the input:

<ul>
	<li>on empty input all options will be taken</li>
	<li>otherwise options will be filtered against the search term</li>
	<li>it will limit the display to 10 results in all cases</li>
</ul>

<label for="typeahead-focus">Search for a state:</label>
<input
	id="typeahead-focus"
	type="text"
	class="form-control"
	[(ngModel)]="model"
	[ngbTypeahead]="search"
	(focus)="focus$.next($any($event).target.value)"
	(click)="click$.next($any($event).target.value)"
	#instance="ngbTypeahead"
/>

<hr />
<pre>Model: {{ model | json }}</pre>
</div>

<br>